#tinter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 80%;
  top: 0px;
  max-width: 1180px;
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
}

#tinter .colorButton {
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#tinter .colorSelect {
  width: 64px;
  height: 32px;
}

#tinter canvas {
  aspect-ratio: unset;
}

#tinter #container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#tinter #content {
  grid-template-rows: auto 1fr;
  display: grid;
  flex: 1;
  min-height: 0;
  grid-template-areas:
    "a b b"
    "a c d";
}
#tinter #users {
  min-width: 190px;
  max-width: 280px;
  grid-area: a;
  display: flex;
  background-color: #FCFCFC;
  overflow-y: scroll;
  overflow-x: hidden;
}
#tinter #canvas {
  position: relative;
  grid-area: b;
  height: fit-content;
  background-color: #DDDDDD;
}
#tinter ::-webkit-scrollbar{
  width: 2px;
}

#tinter ::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 8px;
}

#tinter ::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background: #bbb;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}

#tinter #interaction {
  grid-area: c;
  display: flex;
}
#tinter #answer,
#tinter #chat {
  flex: 1;
  display: flex;
  background-color: #F0F0F0;
}
#tinter #answer {
  grid-area: c;
}
#tinter #chat {
  grid-area: d;
}

@media (max-width: 1000px) {
  #tinter {
    width: 100%;
  }
  #tinter #root {
    left: 0px;
    width: 100%;
    top: 0px;
  }
  #tinter #content {
    grid-template-areas:
      "b b"
      "a c"
      "a d";
  }
  #tinter #users {
    min-width: 50px;
  }
  #tinter #users > div > ul {
    display: none;
  }
}