#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  left: 10%;
  width: 80%;
  top: 0px;
}

html body {
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.colorButton {
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.colorSelect {
  width: 64px;
  height: 32px;
}

canvas {
  aspect-ratio: unset;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#content {
  grid-template-rows: auto 1fr;
  display: grid;
  flex: 1;
  min-height: 0;
  grid-template-areas:
    "a b b"
    "a c d";
}
#users {
  max-width: 280px;
  grid-area: a;
  display: flex;
  overflow: scroll;
}
#canvas {
  position: relative;
  grid-area: b;
  height: fit-content;
}

#interaction {
  grid-area: c;
  display: flex;
}
#answer,
#chat {
  flex: 1;
  display: flex;
}
#answer {
  grid-area: c;
  flex: 1;
}
#chat {
  grid-area: d;
  flex: 1;
}
#users {
  min-width: 170px;
}

@media (max-width: 1000px) {
  #root {
    left: 0px;
    width: 100%;
    top: 0px;
  }
  .colorSelect {
    display: none;
  }
  #content {
    grid-template-areas:
      "b b"
      "a c"
      "a d";
  }
  #users {
    min-width: 50px;
  }
  #users > div > ul {
    display: none;
  }
}
